
<div class="main_wrapper">

  <div class="main_header">
    <h2 class="room_name"> <%= @room.name %> </h2>
    <%= link_to 'チャットルームを終了する', '/', class: 'chat_exit' %>
  </div>

  <div class="main_chat">
    
      <div class='chat_content'>
       <%= render partial: 'message', collection: @messages %>
      </div>

  </div>

  <div class="main_footer">

      <%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
       <div class="form-input">
        <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
          <label class="form-image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, class: 'hidden' %>
          </label>
        </div>
        <%= f.submit '送信', class: 'form-submit' %>
      <% end %>

      

  </div>



</div>